* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  gap: 20px;
}

/* -------logo over text starts here --- */

.image-header {
  border-radius: 15px;
  margin: 0 0 0 10px;
  display: block;
  width: 200px;
  height: auto;
}

.container {
  position: relative;
  width: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: whitesmoke;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  text-shadow: 3px 1px #dadada;
  color: chocolate;
  font-size: 1.7rem;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 100px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/* -------logo over text ends here --- */

#logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

#nav-list {
  margin: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav a {
  color: rgb(122, 122, 122);
  font-size: 0.8rem;
}

footer {
  padding: 0 20px;
  width: 100vw;
  color: #000;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
}

.image-footer {
  padding: 10px;
  display: block;
  width: 150px;
  height: auto;
}

/* appened list items start here  */
#item-list {
  margin: 50px 0 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-id {
  margin: 20px 0 0 0;
  text-align: center;
}

.item-image {
  width: 300px;
  border-radius: 20px;
  box-shadow: 10px 10px 5px #ccc, -10px -10px 5px #fff;
}

/* appened list items end here  */
.like-icon {
  font-size: 32px;
  cursor: pointer;

  animation: heartBeat 1s infinite;
}

.liked {
  color: blue;
  cursor: default;
  animation: none;
}
  @keyframes heartBeat {
  
      0%,
      100% {
        transform: scale(1);
      }
  
      50% {
        transform: scale(1.4);
      }
    }
button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: lightblue;
  color: rgb(0, 0, 0);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button:active {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
